<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1885ed">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="estilos.css">

    <title>FarmQor</title>
</head>

<body>
    <header class="header">
        <div class="container header__container">
            <div class="header__logo">
                <img class="site__img_logo" src="logoFinal.png">
        </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="header__menu">
                <nav id="navbar" class="header__nav collapse">
                    <ul class="header__elenco">
                        <li class="header__el"><a href="/paginaInicio" class="header__link">Inicio</a></li>
                        <li class="header__el"><a href="https://verqor.com/" class="header__link">Verqor</a></li>
                        <li class="header__el"><a href="/contacto" class="header__link">Equipo</a></li>
                        <li class="header__el"><a href="/admin" class="header__link">Admin</a></li>
                        <li class="header__el header__orange"><a href="login.hbs" class="btn btn--white">Inicio de sesión →</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="sect sect--padding-bottom">
        <div class="container">
            <div class="row row--center">
                <h1 class="row__title">Equipo 3</h1>
                <h2 class="row__sub">Instituto Tecnológico de Estudios Superiores de Monterrey.</h2>
            </div>
            <div class="row row--center row--margin">
                <div class="col-md-4 col-sm-4 price-box price-box--purple">
                    <div class="price-box__wrap">
                        <img class="price-box__img" src="alex.jpeg" alt="20">
                        <h1 class="price-box__title">
                            Ian Alexei Martínez Armendáriz
                        </h1>
                        <p class="price-box__feat">
                            Ingeniería en Tecnologías Computacionales 
                        </p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">A01753288@tec.mxs</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 price-box price-box--purple">
                    <div class="price-box__wrap">
                        <img class="price-box__img" src="IMG_2632.JPG" alt="20">
                        <h1 class="price-box__title">
                            Sandra Paulina Herrera Rebolledo 
                        </h1>
                        <p class="price-box__feat">
                            Ingeniería en Tecnologías Computacionales
                        </p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">A01798452@tec.mx  </li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4 price-box price-box--purple">
                    <div class="price-box__wrap">
                        <img class="price-box__img" src="Fernanda.jpg" alt="20">
                        <h1 class="price-box__title">
                            Fernanda Ponce Maciel  
                        </h1>
                        <p class="price-box__feat">
                            Ingeniería en Tecnologías Computacionales
                        </p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">A01799293@tec.mx</li>

                        </ul>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4 price-box price-box--purple">
                    <div class="price-box__wrap">
                        <img class="price-box__img" src="lorena.jpeg" alt="20">
                        <h1 class="price-box__title">
                            Lorena Abigail Solís De los Santos
                        </h1>
                        <p class="price-box__feat">
                            Ingeniería en Tecnologías Computacionales
                        </p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">A01746602@tec.mx</li>
                        </ul>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4 price-box price-box--purple">
                    <div class="price-box__wrap">
                        <img class="price-box__img" src="Vicente.jpeg" alt="20">
                        <h1 class="price-box__title">
                            Vicente Jesús Ramos Chávez
                        </h1>
                        <p class="price-box__feat">
                            Ingeniería en Tecnologías Computacionales
                        </p>
                        <ul class="price-box__list">
                            <li class="price-box__list-el">A01750996@tec.mx</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/Main.js"></script>
</body>
</html>